@import 'colors';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-family: sans-serif;
    color: $black;    
}

body {
    background: $white;
}